@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.animated-text {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.animated-text2 {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #e91e63; /* Change the background color as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: black;
}
.button:active {
  transform: translateY(2px);
}

.heart-animation {
  animation: heartBeat 1s infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.congrats-animation {
  position: absolute;
  top: calc(50% + 30px);
  left: 50%;
  transform: translateX(-50%);
  animation: slideUp 3s ease-in;
}
.button {
  animation: slideUp 6`s ease-in;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    /* transform: translateX(50px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}
body {
  font-family: "Indie Flower", cursive; /* Apply the font family */
}
